body {
  background-color: #f0f0f0 !important;
}

:root {
  --font: 'Segoe UI', 'Open Sans', Helvetia, sans-serif;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  font-family: var(--font);
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-group-item {
  background-color: #f8f8f8 !important;
  font-family: var(--font);
  font-size: 14px;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee !important;
}
